<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page Demo</title>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playpen+Sans:wght@300;700&display=swap"
    rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
  <!-- Nav Bar -->
  <div class="navigation-bar">
    <nav class="navbar navigation-bar first-nav">
      <div class="first-nav-container">
        <div class="searchLogo">
          <div class="logoNav">
            <a href="#">
              <img
                src="../icons/art-whiteTxt.png"
                class="logoImg"
                alt="Logo"
              />
            </a>
            <h4>AIArt</h4>
          </div>

          <div class="div-search">
            <input
              class="searchInput"
              id="searchInput"
              type="search"
              placeholder="&#xF002; Search..."
              style="font-family: Poppins, FontAwesome"
            />
          </div>
        </div>

        <div class="cart-navItems">
          <ul class="navList">
            <li class="nav-item">
              <a
                href="../templates/cartPage.html"
                class="nav-link cart-icon"
                id="cart"
              >
                <img
                  src="../icons/icons8-cart-48.png"
                  alt="Shopping cart logo"
                  srcset=""
                  class="cart-icon"
                />
                <p id="cart-count" class="cart-count">0</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"
                ><img
                  src="../icons/icons8-log-in-32.png"
                  alt="Login icon"
                  width="25"
                  height="23"
                  srcset=""
                /><span> Log In</span></a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img
                  src="../icons/icons8-account-32.png"
                  alt="Sing up icon"
                  srcset=""
                  width="25"
                  height="23"
                /><span> Sing up</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <hr />

  <div class="navigation-bar">
    <nav class="navbar navigation-bar navbar-expand-lg second-nav">
      <div class="second-nav-container">
        <button
          class="navbar-toggler btn-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav navPages">
            <a class="nav-link second-nav-links" href="#">Home</a>
            <a class="nav-link second-nav-links" href="#">Categories</a>
            <a class="nav-link second-nav-links" href="#">Sale</a>
            <a class="nav-link second-nav-links" href="#">About us</a>
            <a class="nav-link second-nav-links" href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  

  <!-- Top image slider -->
  <header>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('../images/portraits/70.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First Slide</h3>
                    <p>This is a description for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('../images/portraits/67.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Second Slide</h3>
                    <p>This is a description for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('../images/portraits/65.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('../images/portraits/69.jpg')">
              <div class="carousel-caption d-none d-md-block">
                  <h3>Fourth Slide</h3>
                  <p>This is a description for the third slide.</p>
              </div>
          </div>
          <div class="carousel-item" style="background-image: url('../images/portraits/73.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3>Fifth Slide</h3>
                <p>This is a description for the third slide.</p>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<main id="main">
  <!-- showing animation if no result are found from search input -->
  <div id="noItemsFound" class="noItemsFound">
    <dotlottie-player src="https://lottie.host/7b1da760-d966-4332-88e5-8fafd7dabb77/hs9i5dQSl0.json"
      background="transparent" speed="1" class="noItems" direction="1" playMode="normal" loop controls
      autoplay></dotlottie-player>
  </div>

  <!-- Cards -->
  <div class="card-img" id="cardContainer"></div>

  <!-- POP UP -->

  <div class="popup-container">
    <div id="popup" class="hidden">
      <div id="popup-content">
        <div class="popup-header" id="popup-header"></div>
        <div class="pop-wrapper">
          <div class="imageDiv">
            <img id="popup-image" src="" alt="Popup Image" class="popup-image" />
          </div>

          <div class="infoPopup">
            <div class="txtDiv" id="txtDiv">
              <div id="popup-text" class="popup-text"></div>
              <div id="btnDiv">
                <p class="add" id="add">
                  <img src="../icons/icons8-add-to-cart-black.png" alt="Add to cart" />
                </p>
              </div>
            </div>
          </div>

          <span id="popup-close">&times;</span>
        </div>
      </div>
    </div>
  </div>
</main>

  <!-- Top cards -->
  <div>
    <h1 class="headers" style="font-weight: 700; margin-top: 40px;">Sell your artwork with the power of the
      inovation</h1>
    <h4 class="headers" style="margin-top: 15px;color: black;text-shadow: none;">Just tell us about your art and we'll do the rest.</h4>
    <button class="firstButton">SELL YOUR ART</button>
    <div class="sellYourArtContainer">
      <h1 class="headers" style="font-weight: bold;">Minimum effort, maximum profit.</h1>
      <section>
        <div class="row d-flex justify-content-center">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card"  id="rotatingCards">
              <div class="cover item-a d-flex justify-content-center align-items-center">
                <!-- <h1>Negotiate the Best Terms</h1> -->
                <div class="card-text">
                  <p>Our seasoned negotiators will work tirelessly to secure the most favorable terms
                    for your digital art sales. From commission rates to licensing agreements, we
                    ensure that you retain control.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card" id="rotatingCards">
              <div class="cover item-b d-flex justify-content-center align-items-center">
                <!-- <h1>Expert Advice and Guidance</h1> -->
                <div class="card-text">
                  <p>Receive comprehensive advice and guidance on the full process of selling digital
                    artwork. Our team of experts is here to support you every step of the way,
                    offering insights and strategies to help you achieve your goals.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card"  id="rotatingCards">
              <div class="cover item-c d-flex justify-content-center align-items-center">
                <!-- <h1>Direct Access to Contacts</h1> -->
                <div class="card-text">
                  <p>Whether you're selling individual pieces or a collection, we ensure that
                    you have direct access to the decision-makers who can elevate your digital art
                    career.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>

 


  <!-- Center Image Slider -->
  <div class="cenetrImageSlider">
    <div id="mz-gallery-container">
      <button type="button" id="scrollLeftButton" class="scrollButton" onclick="scrollL()"><img
          src="../icons/double-arrows.png" alt=""></button>
      <h2 class="headers" style="margin-top: 10px; font-weight: bold;">Most Popular Creator Picks</h2>
      <div id="mz-gallery">
        <!-- <figure>
          <img src="images/abstract/63.jpg" alt="Blue eyes" width="700" height="700">
          <figcaption>Blue eyes</figcaption>
        </figure>-->
      </div>
      <button type="button" id="scrollRightButton" class="scrollButton" onclick="scrollR()"><img
          src="../icons/double-arrows2.png" alt=""></button>
    </div>
  </div>

  <!-- Bottom Cards -->
  <div class="artwork">
    <h2 class="headers" style="margin-bottom: 2rem;">How does the sale process work?</h2>
    <div class="artworkProgress">
      


    </div>
  </div>
  <button class="secondButton">SELL YOUR ART</button>
  <h2 style="font-weight: bold; text-align: center; margin-bottom: 3rem;">For appraisals, please follow <a
      style="text-decoration: none; color: rgb(197, 105, 105);" href="">this link.</a></h2>

  <!-- Bottom Image cards -->
  <div class="bottomCardsContainer">
    <header class="main-header clearfix" style="border-top: 3px solid black;">
      <img class="logo" src="../icons/art.jpg">
      <h1 class="name">Category samples</h1>
    </header>

    <div class="content clearfix">
      <div class="cube-container">
        <div class="photo-cube">
          <img class="front" src="" alt="">
          <div class="back photo-desc">
            <h3>Art & Design</h3>
            <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <a href="#" class="button">OPEN</a>
          </div>
          <img class="left" src="" alt="">
          <img class="right" src="" alt="">

        </div>
      </div>

      <div class="cube-container cubeContainer2">
        <div class="photo-cube">
          <div class="back photo-desc">
            <h3>Portraits</h3>
            <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <a href="#" class="button">OPEN</a>
          </div>
          <img class="left" src="" alt="">
          <img class="right" src="" alt="">

        </div>
      </div>

      <div class="cube-container cubeContainer3">
        <div class="photo-cube">
          <img class="front" src="" alt="">
          <div class="back photo-desc">
            <h3>Landscapes</h3>
            <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <a href="#" class="button">OPEN</a>
          </div>
          <img class="left" src="" alt="">
          <img class="right" src="" alt="">

        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  <script src="../scripts/searchProducts.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script src="https://cdn.lordicon.com/lordicon.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <script src="../scripts/home.js"></script>
  
  <!--=============== End Scripts=================== -->
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white">

    <div class="container p-4">

      <div class="row my-4">

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class=" shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
            style="width: 150px; height: 120px;">
            <img src="../icons/art2.png" height="60" alt="art logo" style="width:150px; height: fit-content;" loading="lazy" />
          </div>

          <p class="text-center">A place where you can create stunning AI-generated images effortlessly</p>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a href="https://www.facebook.com/people/Qinshift/100091645631435/"><img src="../icons/facebook.png"
                  alt="Facebook Logo" style=" height: 34px; width: 34px; margin-right: 10px;"></a>
            </li>
            <li>
              <a href="https://x.com/qinshift"><img src="../icons/twitter.png" alt="X logo"
                  style=" height: 34px; width: 34px; margin-right: 10px;"></a>
            </li>
            <li>
              <a href="https://www.instagram.com/qinshift/"><img src="../icons/instagram.png" alt="Instagram Logo"
                  style=" height: 34px; width: 34px;margin-right: 10px;"></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/qinshift/"><img src="../icons/linkedin.png" alt="Instagram Logo"
                style=" height: 34px; width: 34px;"></a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Categories</h5>

          <ul class="list-unstyled">
            
            <li class="mb-2">
              <a href="category.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Acrylic</a>
            </li>
            <li class="mb-2">
              <a href="category.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Art & Design</a>
            </li>
            <li class="mb-2">
              <a href="category.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Black & White</a>
            </li>
            <li class="mb-2">
              <a href="category.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Pastel, Chalk &
                Charcoals</a>
            </li>
            <li class="mb-2">
              <a href="category.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Abstract</a>
            </li>
            <li class="mb-2">
              <a href="category.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Nature</a>
            </li>
            <li class="mb-2">
              <a href="category.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Portraits</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Information</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="aboutus.html"  class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>About us</a>
            </li>
            <li class="mb-2">
              <a href="aboutus.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Our mission</a>
            </li>
            <li class="mb-2">
              <a href="aboutus.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>What we offer
              </a>
            </li>
           
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contact</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="contactUs.html" class="text-white" style="text-decoration: none;"><i class="fas pe-3"></i>Write us here</a>
            </li>
            <li>
              <p><i class="pe-2"></i>Qinshift, bb Street, Skopje</p>
            </li>
            <li>
              <p><i class="pe-2"></i>+389 234 567</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white" href="">ArtShop</a>
    </div>
  </footer>
</body>

</html>
