<!-- register.component.html -->
<div class="container">
  <div class="register-container">
    <i class="fas fa-user-circle icon"></i>
    <h2>Create Account</h2>
    <a href="login">Already have an account? Login here!</a>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <input
        type="text"
        placeholder="Full Name"
        formControlName="firstName"
        required
      />
      <input
        type="text"
        placeholder="Last Name"
        formControlName="lastName"
        required
      />
      <input
        type="text"
        placeholder="Username"
        formControlName="userName"
        required
      />
      <input
        type="email"
        placeholder="Email Address"
        formControlName="email"
        required
      />
      <input
        type="text"
        placeholder="Card Number"
        formControlName="cardNo"
        required
      />
      <input
        type="text"
        placeholder="Card Expiration Date"
        formControlName="expireDate"
        required
      />
      <div class="password-container">
        <input
          [type]="isPasswordVisible ? 'text' : 'password'"
          placeholder="Password"
          formControlName="password"
          required
        />
        <i
          class="fas"
          [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePasswordVisibility()"
          aria-hidden="true"
        ></i>
      </div>
      <div class="password-container">
        <input
          [type]="isConfirmPasswordVisible ? 'text' : 'password'"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          required
        />
        <i
          class="fas"
          [ngClass]="isConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
          (click)="toggleConfirmPasswordVisibility()"
          aria-hidden="true"
        ></i>
      </div>
      <div *ngIf="passwordMissMatch" class="error-message">
        Passwords do not match
      </div>
      <input type="submit" value="Register" />
    </form>
  </div>
</div>
