@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    
}

.logo{
    width: 60px;
    height: 45px;
}

.hr-nav{
    margin: 0px 60px 0px 60px;
    padding: 0px;
    background-color: black;
}


#first-nav, #second-nav{
    padding-right: 250px;
    padding-left: 250px;
    background-color: rgb(223, 220, 220);
}

#searchInput{
    width: 500px;
    height: 40px;
   
} 

#first-nav{
    padding-top: 5px;
    padding-bottom: 5px;
   
}
.cart-gif{
    width: 30px;
    border: 10px rgb(74, 71, 71);
}

#second-nav{
    padding-top: 0px;
}
@media only screen and (max-width: 1370px){
.carousel-inner img{
    border: 1px solid none;
    width: 800px;
    height: 450px;
}
}
@media only screen and (max-width: 500px){
    .carousel-inner img{
        border: 1px solid none;
        width: 700px;
        height: 390px;
    }
}
@media only screen and (max-width: 320px){
    .carousel-inner img{
        border: 1px solid none;
        width: 500px;
        height: 300px;
    }
}
/* Raki  */
.headers {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.firstButton {
    text-align: center;
    padding: 25px;
    width: 250px;
    margin-top: 5rem;
    margin-bottom: 10rem;
    background-color: rgb(197, 105, 105);
    color: white;
    border: 1px solid rgb(197, 105, 105);
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cardPictures{
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-title{
    text-align: center;
}

.cardContainer{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.sellYourArtContainer{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(252, 245, 237);
    padding: 10px;
    border-radius: 15px;
}
/* ------------------------------------------- */

@media only screen and (max-width: 1370px){
    #first-nav, #second-nav{
        padding-right: 0px;
        padding-left: 0px;
    }
    #first-nav{
        padding-top: 10px;
        padding-bottom: 0px;
        
    }
    #searchInput{
        width: 350px;
    } 
}
@media only screen and (max-width: 500px){
    #first-nav{
        padding-top: 5px;
        padding-bottom: 0px;
        
    }
    #searchInput{
        width: 100px;
    } 
}
@media only screen and (max-width: 320px){
    
    #searchInput{
        width: 80px;
    } 
    
}




/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}