<div class="categoriesContainer">
  <app-gallery />

  <app-filters
    [selectedCategory]="productStore.selectedCategory()"
    [selectedArtist]="productStore.selectedArtist()"
    [selectedDirection]="productStore.sortDirection()"
    [inStock]="productStore.inStock()"
    (updateSelectCategory)="productStore.setSelectedCategory($event)"
    (updateSelectedArtist)="productStore.setSelectedArtist($event)"
    (updateSelectedDirection)="productStore.setSortDirection($event)"
    (updateInStock)="productStore.setInStock($event)"
  />

  <app-search />
  <app-loader />
  <app-card-container [products]="productStore.products()" />

  <mat-paginator
    [length]="productStore.totalCount()"
    [pageSize]="productStore.pageSize()"
    aria-label="Select page"
    (page)="productStore.setPage($event.pageIndex)"
  />
</div>
