.categoriesContainer{
    
    background: linear-gradient(to left, #000 10%, #291d37 100%) content-box;;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Inconsolata", monospace;
   
}


