.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 40px;
    
}
p{
    font-family: "Inconsolata", monospace;
}
.btn{
    display: flex;
    justify-content: center;
}
.prompt{
    width: 100%;
}
.image{
    width: 500px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
