<section class="container">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, repellat
    error, temporibus fugit accusantium maiores sit nam sequi est sapiente quis
    illo aperiam minima ullam voluptatum iste ab impedit cum nihil at distinctio
    voluptates. Assumenda ducimus quas deleniti ratione similique aliquid
    provident magnam, voluptatibus pariatur porro nihil, quam in molestiae!
  </p>
  <mat-form-field class="example-full-width prompt">
    <mat-label>Write your inspirations...</mat-label>
    <textarea
      matInput
      [(ngModel)]="value"
      placeholder="Ex. something..."
    ></textarea>
  </mat-form-field>
  <div class="btn">
    <button mat-stroked-button (click)="handleCreate()">Create</button>
  </div>
</section>
