@if(appStore.favorites().length){
<div class="heading">
  <h5>Your favorites are here!</h5>
  <mat-divider></mat-divider>
</div>

<div class="container">
  @for (item of appStore.favorites(); track $index) {
  <div class="medium">
    <div>
      <img [src]="item.imageUrl" />
      @if(item.stock){
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        class="btn"
        (click)="handleAddToCart(item)"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      }

      <span>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          (click)="handleRemoveFromFavorites(item)"
        >
          <mat-icon>close</mat-icon>
        </button></span
      >
    </div>
  </div>
  }
</div>
}@else {
<div class="empty">
  <h6>Your favorite list is empty.</h6>
  <a mat-stroked-button routerLink="/categories">Go to products</a>
</div>

}
