@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    
}
.navigation-bar{
    display: flex;
    width: 100%;
}

.first-nav-container, .second-nav-container{
    
    margin: 5px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.searchLogo{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar-brand{
   width: 80px; 
   height: 65px;
}

.logoImg{
    width: 53px;
    height: 40px;
    /* border-radius: 40% 40% 30%; */
}

h4{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    text-shadow: #474747 3px 5px 2px;
    font-size: 1.7em;
    margin: 0px 5px;
}

hr{
    margin: 0px;
}

.first-nav{
    padding: 8px 0px;
}

.div-search{
    display: flex;
    justify-content: flex-start;
    width: 600px;
}

.searchInput{
    width: 450px;
    padding: 2px;
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #474747;
    height: 40px;
    border-radius: 10px;
    border: none;
    
} 
.btn-toggler{
    background-color: #474747;
}

.searchInput::placeholder{
    color: #FFFFFF;
    padding-left:15px;
}

.searchInput:hover{
    cursor: pointer;
}

.first-nav, .second-nav{
    background-color:rgb(52, 46, 46);
    color: whitesmoke;
}

.cart-navItems{
    display: flex;
    flex-wrap: wrap;  
    
}
.navList{
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: whitesmoke;
    gap: 25px;
    padding: 0;
    margin: 0;
}
.nav-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 4px 13px;
    background-color: #474747;
    border-radius: 10px;    
}


.cart-icon{
    display: flex;
    gap: 1px;
    width: 35px;
    height: 30px;    
}

.second-nav{
    padding: 0px;
    display: flex;

}
.navPages{
    display: flex;
    gap: 25px;
}

.nav-link, .second-nav-links{
    color: whitesmoke;
    font-size: 1em;
    font-family: "Poppins", sans-serif;    
}
.second-nav-links:hover{
    color: whitesmoke;
    font-weight: 450;
    background-color: #474747;
    border-radius: 10px;   
    
}



@media only screen and (max-width: 1370px){
    .navigation-bar{
        flex-wrap: wrap;

    }
    
    .first-nav-container, .second-nav-container{
        margin: 5px 30px;
    }
    
    .searchLogo{
        gap: 60px;
    }
    
    .logo{
        gap: 15px;
    }
    
    .navbar-brand{
       width: 75px; 
       height: 60px;
    }
    
    .logoImg{
        width: 70px;
        height: 60px;
        border-radius: 30% 30% 20%;
    }
    
    h4{
        font-size: 1.7em;
    }
    
    .first-nav{
        padding: 8px 0px;
    }
    
    .div-search{
        width: 500px;
    }
    
    .searchInput{
        width: 350px;
        font-size: 1em;
        height: 40px;  
    } 
    
    .navList{
        gap: 20px;
    }
    
}
@media only screen and (max-width: 1100px){

    .searchLogo{
        
        gap: 40px;
    }
    
    .logo{
        
        gap: 10px;
    }
    
    .navbar-brand{
       width: 75px; 
       height: 60px;
    }
    
    .logoImg{
        width: 60px;
        height: 50px;
        border-radius: 20% 20% 10%;
    }
    
    h4{
        font-size: 1.7em;
       
    }
   
    
    .div-search{
        width: 300px;
    }
    
    .searchInput{
        width: 250px;
        
        
    } 
    
    .navList{
        gap: 10px;

    }




}

@media only screen and (max-width: 841px){

    .searchLogo{
        
        gap: 20px;
    }
    
    
    h4{
        font-size: 1.5em;
       
    }
   
    .div-search{
        width: 200px;
    }
    
    .searchInput{
        width: 200px;        
    } 
    
    .navList{
        padding-top: 10px;
        gap: 15px;

    }

}


@media only screen and (max-width: 400px){

    .searchLogo{
        flex-flow: column wrap;
        gap: 10px;
    }
    .logoImg{
        width: 50px;
        height: 40px;
        border-radius: 20% 20% 10%;
    }
    h4{
        font-size: 1em;
       
    }
   
    .div-search{
        flex-wrap: wrap;
        width: 200px;
    }
    
    .searchInput{
        width: 200px;        
    } 
    
    .navList{
        gap: 5px;

    }
    .nav-item span{
        display: none;
    }
}


.about-section{
    background: url(../images/aboutus/sky.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 20px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

.ourmission-section{
    background: url(../images/aboutus/slika2.png) no-repeat right;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container2{
    width: 55%;
    float: left;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container2 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text2{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills2{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
}


@media screen and (max-width:1200px){
    .inner-container2{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .ourmission-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container2{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .ourmission-section{
        padding: 0;
    }
    .inner-container2{
        padding: 60px;
    }
}

.whatweoffer-section{
    background: url(../images/aboutus/sky2.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container3{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container3 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text3{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills3{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
}

@media screen and (max-width:1200px){
    .inner-container3{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .whatweoffer-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container3{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .whatweoffer-section{
        padding: 0;
    }
    .inner-container3{
        padding: 60px;
    }
}

.contact-button {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.contact-button:hover {
    background-color: darkgray;
}

.contact-logo {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}



/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 40px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(197, 105, 105, 0.2);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
