@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo { 
  width: 60px;
  height: 45px;
}
.badge {
position: absolute;
top: 10px;
right: 5px;
background-color: red;
color: white;
border-radius: 50%;
padding: 5px 10px;
font-size: 12px;
font-weight: bold;
display: none;
}

.nav-item {
position: relative;
}


.navigation-bar {
  position: relative;
}
.hr-nav {
  margin: 0px 60px 0px 60px;
  padding: 0px;
  background-color: white;
}

#first-nav,
#second-nav {
  padding-right: 250px;
  padding-left: 250px;
}

.div-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.searchInput {
  width: 500px;
  height: 40px;
  border-radius: 5px;
}
.searchInput:hover {
  border: 2px double rgb(98, 0, 255);
}
#first-nav {
  padding-top: 5px;
  padding-bottom: 5px;
}
.cart-gif {
  width: 30px;
  border: 10px rgb(74, 71, 71);
}

#second-nav {
  padding-top: 0px;
  background-color: black;
}

/* Carousel  and  Select input for categories*/
body {
  display: flex;
  flex-flow: column wrap;
}

.img-carousel {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  background-color: rgb(197, 105, 105, 0.2);
  gap: 100px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.carouselContainer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 200px;
}
.slide {
  display: flex;
  justify-content: center;
}

.carousel-item {
  width: 250px;
}

/* Prompt and select inputs for categories */
.prompt-categories-container {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
  justify-content: flex-start;
  padding-top: 0%;
  align-content: flex-start;
}

/* Image with prompt */
.createImagePrompt {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
.imgPrompt {
  width: 700px;
  height: 300px;
}
.prompt {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: absolute;
  top: 70%;
  bottom: 30%;
  left: 10%;
  width: 70%;
}
.promptInput {
  width: 50px;
  height: 40px;
}

/* Categories inputs */
.categories {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  align-content: center;
  background-color: rgb(197, 105, 105, 0.2);
}
.select-div {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  /* justify-content: center; */
  align-content: center;
}
.btn {
  height: 40px;
  background-color: white;
}

.sort-buttons {
  display: flex;
  justify-content: flex-end;
  width: 30px;
  height: 20px;
  padding: 0px;
  /* flex-flow: column wrap; */
}

.form-select {
  width: 250px;

  /* padding-bottom: 10px;
  margin-bottom: 10px; */
}

/* Animation if no items to show */
.noItems {
  width: 300px;
  height: 300px;
}

/* Image cards */
.card-img {
  padding: 50px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  place-items: center;
}

:root {
  /* Colors */
  --brand-color: rgba(197, 105, 105, 0.842);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Poppins", sans-serif;
  --font-text: "Poppins", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
main,
h2,
p {
  margin: 0;
}

/* GLOBAL STYLES */
main {
  display: grid;
  place-items: center;
  /* height: 80vh; */
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
  display: grid;
  place-items: center;
  width: 90%;
  height: 20vh;
  max-width: 21.575rem;
  height: 28.025rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-end;
  height: 70%;
  width: 100%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.1em 0.1em;
  width: fit-content;
  width: -moz-fit-content;
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 1px solid black;
  outline-offset: -5px;
}

.page-numbers button {
  background-color: rgb(52, 46, 46);
  color: white;
  margin: 50px 0px;
  width: 40px;
  border: none;
  border-radius: 35%;
  margin-left: 5px;
}

.page-numbers button:hover {
color: rgb(52, 46, 46);
background-color: rgb(197, 105, 105);
  width: 50px;

}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

#noItemsFound {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .hr-nav {
    margin: 0px 0px 0px 0px;
  }

  #first-nav,
  #second-nav {
    padding-right: 50px;
    padding-left: 50px;
  }

  .navbar-togler{
    display:flex;
    justify-content: flex-start;
  }

  .div-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .searchInput {
    width: 300px;
  }
  .cart-gif {
    width: 25px;
  }

  /* Carousel  and  Select input for categories*/

  .img-carousel {
    gap: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .carouselContainer {
    flex-wrap: wrap;
    align-content: center;
  }

  .carousel-item {
    width: 100%;
  }

  /* Prompt and select inputs for categories */
  .prompt-categories-container {
    gap: 10px;
  }

  /* Image with prompt */
  .imgPrompt {
    width: 550px;
    height: 250px;
  }
  .prompt {
    width: 60%;
  }

  /* Categories inputs */
  .categories {
    flex-wrap: wrap;
  }

  .btn {
    height: 40px;
  }

  .sort-buttons {
    width: 20px;
  }

  .form-select {
    width: 185px;
  }

  /* Animation that shows up if no items are found from search bar  */
  .noItems {
    width: 250px;
    height: 250px;
  }

  /* Image cards */
  .card-img {
    padding: 40px 100px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  /* Paragraph in image cards */
  p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  #first-nav,
  #second-nav {
    padding: 0px;
  }

  
  .container-fluid {
    flex-flow: column wrap;
  }

  .searchInput {
    width: 300px;
  }
  .cart-gif {
    width: 25px;
  }

  /* Carousel  and  Select input for categories*/

  .img-carousel {
    grid-template-columns: auto;
    place-content: center;
    gap: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .carouselContainer {
    justify-content: center;
  }

  .slide {
    display: none;
  }

  /* Image with prompt */
  .imgPrompt {
    width: 550px;
    height: 220px;
    /* max-width: 550px; */
  }

  .sort-buttons {
    width: 10px;
  }

  .form-select {
    width: 160px;
  }

  /* Image cards */
  .card-img {
    padding: 20px 15px;
    gap: 20px;
  }

  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .searchInput {
    width: 140px;
  }

  #first-nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .cart-gif {
    width: 20px;
  }

  .img-carousel {
    grid-template-columns: auto;
    place-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .carouselContainer {
    display: none;
  }

  /* Prompt and select inputs for categories */
  .prompt-categories-container {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: flex-start;
    padding-top: 0%;
    align-content: flex-start;
  }

  /* Image with prompt */
  .createImagePrompt {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
  .imgPrompt {
    width: 300px;
    height: 150px;
    place-content: center;
  }
  .prompt {
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: absolute;
    top: 70%;
    bottom: 30%;
    left: 10%;
    width: 70%;
  }
  .promptInput {
    width: 50px;
    height: 40px;
  }

  /* Categories inputs */
  .categories {
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    justify-content: center;
    align-content: center;
  }
  .select-div {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  }
  .btn {
    height: 40px;
    background-color: white;
  }

  .sort-buttons {
    width: 300px;
    height: 40px;
    padding: 0px;
    flex-flow: row wrap;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .form-select {
    width: 170px;
  }

  /* Animation if no items to show */
  .noItems {
    width: 200px;
    height: 200px;
  }

  /* Image cards */
  .card-img {
    padding: 15px;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
  }
}
div.first {
  height: 100%;
  background: #fff;
}


div.second {
  position: relative;
  width: 1000px;
}

h1 {
    position: absolute;
    top: 5px;
    left: 34px;
    font-size: 52px;
    font-style: italic;
    font-weight: 700;
    color: #FFF;
    text-shadow: 2px 2px #000;
    margin: 0;
}

div.salePercentage {
    height: 35px;
    width: 180px;
    background-color: #9C1B21;
    position: absolute;
    top: 48px;
    right: -6px;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    white-space: nowrap;
  -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

.salePercentage:before {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 37px;
    border-left-width: 53px;
    border-right-width: 26px;
    content: "";
    display: block;
    left: -49px;
    position: absolute;
    width: 141%;
    border-top-width: 0px;
    border-bottom-color: #9c1b21;
    top: -2px;
    z-index: -1;
}

/* POP UP */
#image-container {
  display: flex;
  flex-wrap: wrap;

}

.image-card {
  margin: 10px;
  cursor: pointer;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.331);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 9;
}

#popup-content {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  background: #ffffffc1;
  margin: 5px;
  padding: 30px 20px;
  width: 100%;
  max-width: 1000px;
  max-height: 800px;
  filter: blur(0px);
  box-shadow: -10px 9px rgba(156, 84, 84, 0.459);
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  color: rgb(23, 22, 22);

}

.pop-wrapper {
  display: flex;
  background-image: url('../icons/art.png');
  background-size: 15%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 95%;

  margin: 0;
  padding: 0px;
  border: 7px solid rgba(194, 162, 162, 0.459);
  padding: 10px;

}

.imageDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}


.popup-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  max-height: 450px;
  border: 5px double whitesmoke;
}

.infoPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}


.txtDiv {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 20px;
}

#btnDiv p {
  margin: 10px;
  padding: 0px 20px;
  cursor: pointer;
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 35px;
}

.popup-text {
  font-size: 1.3rem;
  margin: 10px;
  padding: 20px 5px;

}

.popup-text p {
  margin: 10px;
  font-family: "Poppins", sans-serif;
  color: rgb(23, 22, 22);
}

.popup-text p span {
  font-weight: 600;
}


.hidden {
  display: none;
}

.add {
  width: 36px;
}

.details__button{
  padding: 0.1em 0.1em;
  width: fit-content;
  width: -moz-fit-content;
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

/* END POP UP */


@media only screen and (max-width: 350px) {
  
  .select-div {
    justify-content: center;
  }

  .sort-buttons {
    justify-content: center;
    align-items: center;
  }

  .form-select {
    width: 180px;
  }
  
}
